In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://smj32364:T2Duk2JkIpmAXu0b@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB?security=SSL

DB2/LINUXX8664

'Connected: smj32364@BLUDB'

In [3]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='SMJ32364'

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('SMJ32364', 'COUNTRY', datetime.datetime(2021, 7, 15, 14, 8, 33, 214061)),
 ('SMJ32364', 'PETSALE', datetime.datetime(2021, 7, 15, 14, 13, 46, 125263)),
 ('SMJ32364', 'TEST', datetime.datetime(2021, 7, 15, 14, 5, 10, 256545)),
 ('SMJ32364', 'SCHOOLS', datetime.datetime(2021, 7, 19, 11, 11, 56, 899260)),
 ('SMJ32364', 'EMPLOYEES', datetime.datetime(2021, 7, 15, 15, 5, 31, 688586)),
 ('SMJ32364', 'JOB_HISTORY', datetime.datetime(2021, 7, 15, 15, 5, 31, 851535)),
 ('SMJ32364', 'JOBS', datetime.datetime(2021, 7, 15, 15, 5, 32, 72673)),
 ('SMJ32364', 'DEPARTMENTS', datetime.datetime(2021, 7, 15, 15, 5, 32, 265153)),
 ('SMJ32364', 'LOCATIONS', datetime.datetime(2021, 7, 15, 15, 5, 32, 473003)),
 ('SMJ32364', 'PETRESCUE', datetime.datetime(2021, 7, 16, 13, 21, 26, 70352)),
 ('SMJ32364', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2021, 7, 18, 4, 23, 58, 795289)),
 ('SMJ32364', 'INSTRUCTOR', datetime.datetime(2021, 7, 18, 3, 41, 55, 835525)),
 ('SMJ32364', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2021, 7, 18, 8, 23, 38, 84407)),
 ('SMJ32364', 'CENSUS_DATA', datetime.datetime(2021, 7, 22, 7, 42, 22, 294636)),
 ('SMJ32364', 'CHICAGO_CRIME_DATA', datetime.datetime(2021, 7, 22, 7, 43, 45, 158440)),
 ('SMJ32364', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2021, 7, 22, 7, 45, 10, 817962)),
 ('SMJ32364', 'EMPSALARY', datetime.datetime(2021, 7, 22, 19, 59, 48, 674795)),
 ('SMJ32364', 'BANKACCOUNTS', datetime.datetime(2021, 7, 23, 5, 15, 8, 943763)),
 ('SMJ32364', 'SHOESHOP', datetime.datetime(2021, 7, 23, 5, 15, 52, 563179)),
 ('SMJ32364', 'CUSTOMER', datetime.datetime(2021, 7, 23, 7, 24, 20, 770382)),
 ('SMJ32364', 'ORDER_TRANSACTION', datetime.datetime(2021, 7, 23, 7, 52, 43, 150004)),
 ('SMJ32364', 'ORDERITEM', datetime.datetime(2021, 7, 23, 7, 52, 45, 908166)),
 ('SMJ32364', 'PRODUCT', datetime.datetime(2021, 7, 23, 7, 52, 49, 734746)),
 ('SMJ32364', 'SCHOOL_VIEW', datetime.datetime(2021, 7, 23, 8, 17, 48, 326361)),
 ('SMJ32364', 'SAMPLEID_1', datetime.datetime(2021, 7, 23, 9, 4, 17, 430303)),
 ('SMJ32364', 'SAMPLEID_2', datetime.datetime(2021, 7, 23, 9, 4, 18, 329814))]

In [4]:
%sql select * from CUSTOMER

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, 'Maria', 'Anders', 'Berlin', 'Germany', '030-0074321', 31),
 (2, 'UvuvwevwevweOnyetenvewveUgwemubwemOssas', 'Trujillo', 'México D.F.', 'Mexico', '(5) 555-4729', 26),
 (3, 'Antonio', 'Moreno', 'México D.F.', 'Mexico', '(5) 555-3932', 28),
 (4, 'Thomas', 'Hardy', 'London', 'UK', '(171) 555-7788', 30),
 (5, 'Christina', 'Berglund', 'Luleå', 'Sweden', '0921-12 34 65', None),
 (6, 'Hanna', 'Moos', 'Mannheim', 'Germany', '0621-08460', 35),
 (7, 'Frédérique', 'Citeaux', 'Strasbourg', 'France', '88.60.15.31', 31),
 (8, 'Martín', 'Sommer', 'Madrid', 'Spain', '(91) 555 22 82', 28),
 (9, 'Laurence', 'Lebihan', 'Marseille', 'France', None, 18),
 (10, 'Elizabeth', 'Lincoln', 'Tsawassen', 'Canada', '(604) 555-4729', 26),
 (11, 'Victoria', 'Ashworth', 'London', 'UK', '(171) 555-1212', 28),
 (12, 'Patricio', 'Simpson', 'Buenos Aires', 'Argentina', '(1) 135-5555', 23),
 (13, 'Francisco', None, 'México D.F.', 'Mexico', None, 18),
 (14, 'Yang', 'Wang', 'Bern', 'Switzerland', '0452-076545', 23),
 (15, 'Pedro', 'Afonso', 'Sao Paulo', 'Brazil', '(11) 555-7647', None),
 (16, 'Elizabeth', 'Brown', 'London', 'UK', '(171) 555-2282', 28),
 (17, 'Sven', 'Ottlieb', 'Aachen', 'Germany', '0241-039123', 37),
 (18, 'Janine', 'Labrune', 'Nantes', 'France', '40.67.88.88', None),
 (19, 'Ann', 'Devon', 'London', 'UK', None, 18),
 (20, 'Roland', 'Mendel', 'Graz', 'Austria', '7675-3425', 23),
 (21, 'Aria', 'Cruz', 'Sao Paulo', 'Brazil', '(11) 555-9857', 22),
 (22, 'Diego', 'Roel', 'Madrid', 'Spain', '(91) 555 94 44', 17),
 (23, 'Martine', 'Rancé', 'Lille', 'France', '20.16.10.16', 37),
 (24, 'Maria', 'Larsson', 'Bräcke', 'Sweden', '0695-34 67 21', 31),
 (25, 'Peter', 'Franken', 'München', 'Germany', '089-0877310', None),
 (26, 'Carine', 'Schmitt', 'Nantes', 'France', '40.32.21.21', 31),
 (27, 'Paolo', 'Accorti', 'Torino', 'Italy', '011-4988260', 35),
 (28, 'Lino', 'Rodriguez', 'Lisboa', 'Portugal', '(1) 354-2534', 17),
 (29, 'Eduardo', 'Saavedra', 'Barcelona', 'Spain', None, 18),
 (30, 'José', 'Pedro Freyre', 'Sevilla', 'Spain', '(95) 555 82 82', 28),
 (31, 'André', 'Fonseca', 'Campinas', 'Brazil', '(11) 555-9482', 28),
 (32, 'Howard', 'Snyder', 'Eugene', 'USA', '(503) 555-7555', 23),
 (33, 'Manuel', 'Pereira', 'Caracas', 'Venezuela', '(2) 283-2951', 31),
 (34, 'Mario', 'Pontes', 'Rio de Janeiro', 'Brazil', '(21) 555-0091', 31),
 (35, 'Carlos', 'Hernández', 'San Cristóbal', 'Venezuela', '(5) 555-1340', 35),
 (36, 'Yoshi', 'Latimer', 'Elgin', 'USA', '(503) 555-6874', 17),
 (37, 'Patricia', 'McKenna', 'Cork', 'Ireland', '2967 542', 28),
 (38, 'Helen', 'Bennett', 'Cowes', 'UK', '(198) 555-8888', None),
 (39, 'Philip', 'Cramer', 'Brandenburg', 'Germany', '0555-09876', 37),
 (40, 'Daniel', 'Tonini', 'Versailles', 'France', '30.59.84.10', 35),
 (41, 'Annette', 'Roulet', 'Toulouse', 'France', None, 18),
 (42, 'Yoshi', 'Tannamuri', 'Vancouver', 'Canada', '(604) 555-3392', 28),
 (43, 'John', 'Steel', 'Walla Walla', 'USA', '(509) 555-7969', 26),
 (44, 'Renate', 'Messner', 'Frankfurt a.M.', 'Germany', '069-0245984', 17),
 (45, 'Jaime', 'Yorres', 'San Francisco', 'USA', '(415) 555-5938', 30),
 (46, 'Carlos', 'González', 'Barquisimeto', 'Venezuela', '(9) 331-6954', 17),
 (47, 'Felipe', 'Izquierdo', 'I. de Margarita', 'Venezuela', '(8) 34-56-12', 28),
 (48, 'Fran', 'Wilson', 'Portland', 'USA', '(503) 555-9573', 37),
 (49, 'Giovanni', 'Rovelli', 'Bergamo', 'Italy', '035-640230', 35),
 (50, 'Catherine', 'Dewey', 'Bruxelles', 'Belgium', '(02) 201 24 67', 22),
 (51, 'Jean', 'Fresnière', 'Montréal', 'Canada', '(514) 555-8054', 17),
 (52, 'Bambang', None, 'Leipzig', 'Germany', '0342-023176', 37),
 (53, 'Bamasta', 'Crowther', 'London', 'UK', '(171) 555-7733', 37),
 (54, 'Yvonne', 'Moncada', 'Buenos Aires', 'Argentina', '(1) 135-5333', None),
 (55, 'Rene', 'Phillips', 'Anchorage', 'USA', '(907) 555-7584', 17),
 (56, 'Henriette', 'Pfalzheim', 'Köln', 'Germany', '0221-0644327', 22),
 (57, 'Marie', 'Bertrand', 'Paris', 'France', None, 18),
 (58, 'Guillermo', 'Fernández', 'México D.F.', 'Mexico', '(5) 552-3745', 23),
 (59, 'Georg', 'Pipps', 'Salzburg', 'Austria', '6562-9722', 28),
 (60, 'Isabel', 'de Castro', 'Lisboa', 'Portugal', '(1) 356-5634', 17),
 (61, 'Bernardo', 'Batista', 'Rio de Janeiro', 'Brazil', '(21) 555-4252', 28),
 (62, 'Lúcia', 'Carvalho', 'Sao Paulo', 'Brazil', '(11) 555-1189', 26),
 (63, 'Horst', 'Kloss', 'Cunewalde', 'Germany', '0372-035188', 30),
 (64, 'Sergio', 'Gutiérrez', 'Buenos Aires', 'Argentina', '(1) 123-5555', 23),
 (65, 'Paula', 'Wilson', 'Albuquerque', 'USA', '(505) 555-5939', 26),
 (66, 'Maurizio', 'Moroni', 'Reggio Emilia', 'Italy', '0522-556721', None),
 (67, 'Janete', 'Limeira', 'Rio de Janeiro', 'Brazil', '(21) 555-3412', 28),
 (68, 'Michael', 'Holz', 'Genève', 'Switzerland', '0897-034214', 17),
 (69, 'Alejandra', 'Camino', 'Madrid', 'Spain', '(91) 745 6200', 35),
 (70, 'Jonas', 'Bergulfsen', 'Stavern', 'Norway', '07-98 92 35', 23),
 (71, 'Jose', 'Pavarotti', 'Boise', 'USA', '(208) 555-8097', None),
 (72, 'Bamsoet', 'Kumar', 'London', 'UK', '(171) 555-1717', 22),
 (73, 'Jytte', 'Petersen', 'Kobenhavn', 'Denmark', '31 12 34 56', 37),
 (74, 'Dominique', 'Perrier', 'Paris', 'France', None, 18),
 (75, 'Art', 'Braunschweiger', 'Lander', 'USA', '(307) 555-4680', 35),
 (76, 'Suratmi', None, 'Charleroi', 'Belgium', '(071) 23 67 22 20', 35),
 (77, 'Liz', 'Nixon', 'Portland', 'USA', '(503) 555-3612', 28),
 (78, 'Liu', 'Wong', 'Butte', 'USA', '(406) 555-5834', 17),
 (79, 'Karin', 'Josephs', 'Münster', 'Germany', '0251-031259', 26),
 (80, 'Miguel', 'Angel Paolino', 'México D.F.', 'Mexico', None, 18),
 (81, 'Anabela', 'Domingues', 'Sao Paulo', 'Brazil', '(11) 555-2167', 22),
 (82, 'Helvetius', 'Nagy', 'Kirkland', 'USA', '(206) 555-8257', 22),
 (83, 'Palle', 'Ibsen', 'Århus', 'Denmark', '86 21 32 43', 37),
 (84, 'Mary', 'Saveley', 'Lyon', 'France', '78.32.54.86', 37),
 (85, 'Paul', 'Henriot', 'Reims', 'France', '26.47.15.10', 35),
 (86, 'Rita', 'Müller', 'Stuttgart', 'Germany', '0711-020361', 31),
 (87, 'Bela', 'Koskitalo', 'Oulu', 'Finland', '981-443655', 23),
 (88, 'Paula', 'Parente', 'Resende', 'Brazil', '(14) 555-8122', 28),
 (89, 'Karl', 'Jablonski', 'Seattle', 'USA', '(206) 555-4112', 28),
 (90, 'Matti', 'Karttunen', 'Helsinki', 'Finland', '90-224 8858', 30),
 (91, 'Zbyszek', 'Piestrzeniewicz', 'Warszawa', 'Poland', '(26) 642-7012', 28)]

In [5]:
%sql select * from ORDER_TRANSACTION limit 5

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, datetime.date(2012, 7, 4), '542378', 85, Decimal('440.00'), 'Cash'),
 (2, datetime.date(2012, 7, 5), '542379', 79, Decimal('1863.40'), 'Debit Card'),
 (3, datetime.date(2012, 7, 8), '542380', 34, Decimal('1813.00'), 'Credit Card'),
 (4, datetime.date(2012, 7, 8), '542381', 84, Decimal('670.80'), 'Cash'),
 (5, datetime.date(2012, 7, 9), '542382', 76, Decimal('3730.00'), 'Cash')]

In [6]:
%sql select * from ORDERITEM limit 5

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, 1, 11, Decimal('14.00'), 12),
 (2, 1, 42, Decimal('9.80'), 10),
 (3, 1, 72, Decimal('34.80'), 5),
 (4, 2, 14, Decimal('18.60'), 9),
 (5, 2, 51, Decimal('42.40'), 40)]

In [7]:
%sql select * from PRODUCT limit 5

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, 'Chai', 1, Decimal('18.00'), '10 boxes x 20 bags', 0),
 (2, 'Chang', 1, Decimal('19.00'), '24 - 12 oz bottles', 0),
 (3, 'Aniseed Syrup', 1, Decimal('10.00'), '12 - 550 ml bottles', 0),
 (4, "Chef Anton's Cajun Seasoning", 2, Decimal('22.00'), '48 - 6 oz jars', 0),
 (5, "Chef Anton's Gumbo Mix", 2, Decimal('21.35'), '36 boxes', 1)]

In [8]:
%sql select count(*) from CUSTOMER

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(91,)]

In [9]:
%sql select count(*) from ORDER_TRANSACTION

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(830,)]

In [10]:
%sql select count(*) from ORDERITEM

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(2155,)]

In [11]:
%sql select count(*) from PRODUCT

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(78,)]

In [12]:
%%sql
select orderid, sum(quantity) as total_qty
from ORDERITEM
group by orderid

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, 27),
 (2, 49),
 (3, 60),
 (4, 41),
 (5, 105),
 (6, 102),
 (7, 57),
 (8, 110),
 (9, 27),
 (10, 46),
 (11, 121),
 (12, 11),
 (13, 102),
 (14, 40),
 (15, 29),
 (16, 184),
 (17, 60),
 (18, 50),
 (19, 12),
 (20, 135),
 (21, 14),
 (22, 80),
 (23, 55),
 (24, 24),
 (25, 70),
 (26, 152),
 (27, 27),
 (28, 18),
 (29, 25),
 (30, 32),
 (31, 64),
 (32, 15),
 (33, 62),
 (34, 11),
 (35, 8),
 (36, 76),
 (37, 61),
 (38, 121),
 (39, 140),
 (40, 75),
 (41, 13),
 (42, 39),
 (43, 60),
 (44, 46),
 (45, 20),
 (46, 33),
 (47, 75),
 (48, 4),
 (49, 57),
 (50, 80),
 (51, 125),
 (52, 35),
 (53, 50),
 (54, 30),
 (55, 80),
 (56, 85),
 (57, 42),
 (58, 80),
 (59, 25),
 (60, 13),
 (61, 6),
 (62, 75),
 (63, 15),
 (64, 13),
 (65, 58),
 (66, 12),
 (67, 95),
 (68, 44),
 (69, 80),
 (70, 20),
 (71, 26),
 (72, 52),
 (73, 30),
 (74, 10),
 (75, 20),
 (76, 13),
 (77, 241),
 (78, 71),
 (79, 90),
 (80, 140),
 (81, 59),
 (82, 50),
 (83, 75),
 (84, 15),
 (85, 66),
 (86, 60),
 (87, 18),
 (88, 86),
 (89, 18),
 (90, 137),
 (91, 35),
 (92, 108),
 (93, 72),
 (94, 17),
 (95, 160),
 (96, 69),
 (97, 105),
 (98, 159),
 (99, 56),
 (100, 70),
 (101, 40),
 (102, 24),
 (103, 33),
 (104, 120),
 (105, 30),
 (106, 62),
 (107, 16),
 (108, 50),
 (109, 62),
 (110, 54),
 (111, 40),
 (112, 206),
 (113, 138),
 (114, 109),
 (115, 94),
 (116, 44),
 (117, 35),
 (118, 24),
 (119, 10),
 (120, 76),
 (121, 78),
 (122, 38),
 (123, 65),
 (124, 6),
 (125, 164),
 (126, 130),
 (127, 45),
 (128, 25),
 (129, 42),
 (130, 40),
 (131, 6),
 (132, 44),
 (133, 74),
 (134, 14),
 (135, 165),
 (136, 55),
 (137, 43),
 (138, 38),
 (139, 25),
 (140, 48),
 (141, 75),
 (142, 81),
 (143, 169),
 (144, 18),
 (145, 50),
 (146, 176),
 (147, 20),
 (148, 106),
 (149, 121),
 (150, 28),
 (151, 150),
 (152, 139),
 (153, 86),
 (154, 168),
 (155, 125),
 (156, 91),
 (157, 100),
 (158, 50),
 (159, 89),
 (160, 60),
 (161, 51),
 (162, 24),
 (163, 65),
 (164, 74),
 (165, 20),
 (166, 78),
 (167, 68),
 (168, 22),
 (169, 50),
 (170, 123),
 (171, 146),
 (172, 80),
 (173, 50),
 (174, 59),
 (175, 2),
 (176, 34),
 (177, 139),
 (178, 30),
 (179, 12),
 (180, 35),
 (181, 20),
 (182, 75),
 (183, 195),
 (184, 130),
 (185, 50),
 (186, 28),
 (187, 24),
 (188, 32),
 (189, 99),
 (190, 15),
 (191, 50),
 (192, 67),
 (193, 208),
 (194, 50),
 (195, 170),
 (196, 18),
 (197, 63),
 (198, 21),
 (199, 50),
 (200, 77),
 (201, 26),
 (202, 69),
 (203, 26),
 (204, 238),
 (205, 115),
 (206, 40),
 (207, 50),
 (208, 125),
 (209, 61),
 (210, 36),
 (211, 145),
 (212, 76),
 (213, 25),
 (214, 128),
 (215, 22),
 (216, 71),
 (217, 69),
 (218, 118),
 (219, 15),
 (220, 40),
 (221, 23),
 (222, 77),
 (223, 53),
 (224, 50),
 (225, 98),
 (226, 24),
 (227, 61),
 (228, 137),
 (229, 14),
 (230, 56),
 (231, 20),
 (232, 148),
 (233, 42),
 (234, 64),
 (235, 10),
 (236, 65),
 (237, 27),
 (238, 130),
 (239, 46),
 (240, 59),
 (241, 50),
 (242, 33),
 (243, 126),
 (244, 22),
 (245, 80),
 (246, 35),
 (247, 30),
 (248, 35),
 (249, 20),
 (250, 64),
 (251, 49),
 (252, 45),
 (253, 20),
 (254, 20),
 (255, 57),
 (256, 90),
 (257, 59),
 (258, 3),
 (259, 32),
 (260, 30),
 (261, 20),
 (262, 3),
 (263, 72),
 (264, 110),
 (265, 37),
 (266, 105),
 (267, 233),
 (268, 286),
 (269, 125),
 (270, 16),
 (271, 29),
 (272, 66),
 (273, 13),
 (274, 19),
 (275, 109),
 (276, 64),
 (277, 87),
 (278, 45),
 (279, 48),
 (280, 80),
 (281, 20),
 (282, 44),
 (283, 135),
 (284, 2),
 (285, 39),
 (286, 98),
 (287, 30),
 (288, 80),
 (289, 100),
 (290, 86),
 (291, 8),
 (292, 44),
 (293, 165),
 (294, 84),
 (295, 39),
 (296, 100),
 (297, 14),
 (298, 10),
 (299, 80),
 (300, 84),
 (301, 24),
 (302, 203),
 (303, 34),
 (304, 100),
 (305, 48),
 (306, 89),
 (307, 80),
 (308, 143),
 (309, 24),
 (310, 50),
 (311, 96),
 (312, 30),
 (313, 35),
 (314, 60),
 (315, 30),
 (316, 95),
 (317, 47),
 (318, 43),
 (319, 63),
 (320, 103),
 (321, 5),
 (322, 65),
 (323, 75),
 (324, 39),
 (325, 87),
 (326, 83),
 (327, 32),
 (328, 58),
 (329, 51),
 (330, 48),
 (331, 26),
 (332, 31),
 (333, 54),
 (334, 50),
 (335, 18),
 (336, 44),
 (337, 50),
 (338, 15),
 (339, 4),
 (340, 46),
 (341, 140),
 (342, 4),
 (343, 80),
 (344, 74),
 (345, 30),
 (346, 45),
 (347, 54),
 (348, 215),
 (349, 59),
 (350, 67),
 (351, 59),
 (352, 10),
 (353, 34),
 (354, 95),
 (355, 5),
 (356, 73),
 (357, 16),
 (358, 135),
 (359, 50),
 (360, 213),
 (361, 28),
 (362, 19),
 (363, 21),
 (364, 31),
 (365, 263),
 (366, 48),
 (367, 27),
 (368, 5),
 (369, 59),
 (370, 30),
 (371, 105),
 (372, 82),
 (373, 10),
 (374, 50),
 (375, 38),
 (376, 94),
 (377, 26),
 (378, 18),
 (379, 52),
 (380, 50),
 (381, 25),
 (382, 29),
 (383, 47),
 (384, 8),
 (385, 50),
 (386, 164),
 (387, 102),
 (388, 65),
 (389, 31),
 (390, 95),
 (391, 101),
 (392, 8),
 (393, 35),
 (394, 110),
 (395, 50),
 (396, 38),
 (397, 45),
 (398, 35),
 (399, 98),
 (400, 50),
 (401, 30),
 (402, 35),
 (403, 85),
 (404, 32),
 (405, 22),
 (406, 50),
 (407, 38),
 (408, 20),
 (409, 37),
 (410, 204),
 (411, 255),
 (412, 84),
 (413, 21),
 (414, 52),
 (415, 10),
 (416, 80),
 (417, 51),
 (418, 31),
 (419, 46),
 (420, 59),
 (421, 27),
 (422, 30),
 (423, 192),
 (424, 32),
 (425, 27),
 (426, 15),
 (427, 5),
 (428, 70),
 (429, 30),
 (430, 38),
 (431, 280),
 (432, 12),
 (433, 110),
 (434, 70),
 (435, 64),
 (436, 9),
 (437, 90),
 (438, 39),
 (439, 45),
 (440, 66),
 (441, 92),
 (442, 35),
 (443, 50),
 (444, 182),
 (445, 20),
 (446, 111),
 (447, 165),
 (448, 34),
 (449, 38),
 (450, 76),
 (451, 108),
 (452, 12),
 (453, 117),
 (454, 97),
 (455, 21),
 (456, 75),
 (457, 65),
 (458, 24),
 (459, 52),
 (460, 89),
 (461, 9),
 (462, 78),
 (463, 10),
 (464, 174),
 (465, 33),
 (466, 182),
 (467, 137),
 (468, 51),
 (469, 22),
 (470, 72),
 (471, 116),
 (472, 55),
 (473, 29),
 (474, 50),
 (475, 140),
 (476, 15),
 (477, 21),
 (478, 22),
 (479, 30),
 (480, 40),
 (481, 48),
 (482, 120),
 (483, 28),
 (484, 70),
 (485, 20),
 (486, 61),
 (487, 65),
 (488, 22),
 (489, 60),
 (490, 16),
 (491, 3),
 (492, 24),
 (493, 94),
 (494, 15),
 (495, 105),
 (496, 28),
 (497, 50),
 (498, 92),
 (499, 83),
 (500, 82),
 (501, 112),
 (502, 31),
 (503, 70),
 (504, 77),
 (505, 11),
 (506, 9),
 (507, 3),
 (508, 99),
 (509, 67),
 (510, 91),
 (511, 120),
 (512, 10),
 (513, 82),
 (514, 53),
 (515, 134),
 (516, 66),
 (517, 150),
 (518, 80),
 (519, 115),
 (520, 2),
 (521, 81),
 (522, 80),
 (523, 15),
 (524, 16),
 (525, 43),
 (526, 110),
 (527, 52),
 (528, 9),
 (529, 175),
 (530, 20),
 (531, 10),
 (532, 40),
 (533, 50),
 (534, 58),
 (535, 1),
 (536, 15),
 (537, 62),
 (538, 20),
 (539, 87),
 (540, 35),
 (541, 90),
 (542, 93),
 (543, 23),
 (544, 34),
 (545, 28),
 (546, 22),
 (547, 21),
 (548, 100),
 (549, 90),
 (550, 20),
 (551, 12),
 (552, 65),
 (553, 67),
 (554, 60),
 (555, 120),
 (556, 54),
 (557, 64),
 (558, 20),
 (559, 37),
 (560, 1),
 (561, 70),
 (562, 20),
 (563, 17),
 (564, 63),
 (565, 76),
 (566, 47),
 (567, 78),
 (568, 16),
 (569, 50),
 (570, 155),
 (571, 40),
 (572, 27),
 (573, 30),
 (574, 26),
 (575, 9),
 (576, 90),
 (577, 21),
 (578, 32),
 (579, 50),
 (580, 36),
 (581, 7),
 (582, 61),
 (583, 88),
 (584, 27),
 (585, 32),
 (586, 38),
 (587, 28),
 (588, 17),
 (589, 172),
 (590, 92),
 (591, 79),
 (592, 45),
 (593, 16),
 (594, 111),
 (595, 52),
 (596, 4),
 (597, 35),
 (598, 245),
 (599, 71),
 (600, 288),
 (601, 33),
 (602, 67),
 (603, 54),
 (604, 67),
 (605, 71),
 (606, 10),
 (607, 165),
 (608, 103),
 (609, 40),
 (610, 75),
 (611, 19),
 (612, 105),
 (613, 23),
 (614, 140),
 (615, 33),
 (616, 32),
 (617, 19),
 (618, 140),
 (619, 67),
 (620, 3),
 (621, 92),
 (622, 120),
 (623, 5),
 (624, 78),
 (625, 66),
 (626, 23),
 (627, 10),
 (628, 61),
 (629, 41),
 (630, 55),
 (631, 20),
 (632, 32),
 (633, 110),
 (634, 10),
 (635, 77),
 (636, 8),
 (637, 73),
 (638, 87),
 (639, 145),
 (640, 5),
 (641, 38),
 (642, 80),
 (643, 39),
 (644, 15),
 (645, 40),
 (646, 119),
 (647, 198),
 (648, 346),
 (649, 31),
 (650, 116),
 (651, 5),
 (652, 8),
 (653, 3),
 (654, 60),
 (655, 36),
 (656, 81),
 (657, 50),
 (658, 20),
 (659, 15),
 (660, 14),
 (661, 34),
 (662, 32),
 (663, 27),
 (664, 37),
 (665, 100),
 (666, 85),
 (667, 25),
 (668, 50),
 (669, 32),
 (670, 11),
 (671, 85),
 (672, 68),
 (673, 24),
 (674, 50),
 (675, 50),
 (676, 44),
 (677, 56),
 (678, 37),
 (679, 29),
 (680, 30),
 (681, 10),
 (682, 124),
 (683, 116),
 (684, 72),
 (685, 80),
 (686, 32),
 (687, 20),
 (688, 33),
 (689, 30),
 (690, 28),
 (691, 128),
 (692, 50),
 (693, 28),
 (694, 204),
 (695, 28),
 (696, 51),
 (697, 41),
 (698, 30),
 (699, 90),
 (700, 4),
 (701, 53),
 (702, 108),
 (703, 5),
 (704, 71),
 (705, 18),
 (706, 100),
 (707, 107),
 (708, 12),
 (709, 34),
 (710, 78),
 (711, 31),
 (712, 20),
 (713, 34),
 (714, 66),
 (715, 195),
 (716, 2),
 (717, 21),
 (718, 16),
 (719, 32),
 (720, 52),
 (721, 64),
 (722, 9),
 (723, 40),
 (724, 14),
 (725, 13),
 (726, 21),
 (727, 10),
 (728, 26),
 (729, 20),
 (730, 90),
 (731, 76),
 (732, 207),
 (733, 40),
 (734, 60),
 (735, 29),
 (736, 99),
 (737, 115),
 (738, 79),
 (739, 70),
 (740, 86),
 (741, 100),
 (742, 59),
 (743, 256),
 (744, 160),
 (745, 2),
 (746, 85),
 (747, 18),
 (748, 24),
 (749, 40),
 (750, 90),
 (751, 69),
 (752, 56),
 (753, 85),
 (754, 116),
 (755, 135),
 (756, 24),
 (757, 12),
 (758, 12),
 (759, 10),
 (760, 54),
 (761, 181),
 (762, 39),
 (763, 30),
 (764, 60),
 (765, 146),
 (766, 36),
 (767, 28),
 (768, 33),
 (769, 31),
 (770, 165),
 (771, 35),
 (772, 5),
 (773, 24),
 (774, 168),
 (775, 65),
 (776, 34),
 (777, 113),
 (778, 30),
 (779, 18),
 (780, 51),
 (781, 59),
 (782, 32),
 (783, 330),
 (784, 182),
 (785, 90),
 (786, 106),
 (787, 33),
 (788, 110),
 (789, 37),
 (790, 4),
 (791, 37),
 (792, 132),
 (793, 20),
 (794, 60),
 (795, 19),
 (796, 10),
 (797, 12),
 (798, 39),
 (799, 53),
 (800, 55),
 (801, 42),
 (802, 14),
 (803, 50),
 (804, 10),
 (805, 40),
 (806, 80),
 (807, 30),
 (808, 70),
 (809, 125),
 (810, 3),
 (811, 28),
 (812, 77),
 (813, 14),
 (814, 15),
 (815, 22),
 (816, 100),
 (817, 173),
 (818, 24),
 (819, 80),
 (820, 9),
 (821, 72),
 (822, 20),
 (823, 110),
 (824, 25),
 (825, 200),
 (826, 30),
 (827, 14),
 (828, 42),
 (829, 50),
 (830, 72)]

In [13]:
%%sql
select *, case when paymenttype = 'Cash' then 0 else 1 end as payment_type
from order_transaction X
left join (select orderid, sum(quantity) as total_qty from ORDERITEM group by orderid) Y
on X.id = Y.orderid

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(270, datetime.date(2013, 4, 24), '542647', 53, Decimal('352.00'), 'Cash', 270, 16, 0),
 (1, datetime.date(2012, 7, 4), '542378', 85, Decimal('440.00'), 'Cash', 1, 27, 0),
 (2, datetime.date(2012, 7, 5), '542379', 79, Decimal('1863.40'), 'Debit Card', 2, 49, 1),
 (3, datetime.date(2012, 7, 8), '542380', 34, Decimal('1813.00'), 'Credit Card', 3, 60, 1),
 (4, datetime.date(2012, 7, 8), '542381', 84, Decimal('670.80'), 'Cash', 4, 41, 0),
 (5, datetime.date(2012, 7, 9), '542382', 76, Decimal('3730.00'), 'Cash', 5, 105, 0),
 (6, datetime.date(2012, 7, 10), '542383', 34, Decimal('1444.80'), 'Credit Card', 6, 102, 1),
 (7, datetime.date(2012, 7, 11), '542384', 14, Decimal('625.20'), 'Debit Card', 7, 57, 1),
 (8, datetime.date(2012, 7, 12), '542385', 68, Decimal('2490.50'), 'Cash', 8, 110, 0),
 (9, datetime.date(2012, 7, 15), '542386', 88, Decimal('517.80'), 'Debit Card', 9, 27, 1),
 (10, datetime.date(2012, 7, 16), '542387', 35, Decimal('1119.90'), 'Debit Card', 10, 46, 1),
 (11, datetime.date(2012, 7, 17), '542388', 20, Decimal('2018.60'), 'Credit Card', 11, 121, 1),
 (12, datetime.date(2012, 7, 18), '542389', 13, Decimal('100.80'), 'Credit Card', 12, 11, 1),
 (13, datetime.date(2012, 7, 19), '542390', 56, Decimal('1746.20'), 'Cash', 13, 102, 0),
 (14, datetime.date(2012, 7, 19), '542391', 61, Decimal('448.00'), 'Debit Card', 14, 40, 1),
 (15, datetime.date(2012, 7, 22), '542392', 65, Decimal('624.80'), 'Cash', 15, 29, 0),
 (16, datetime.date(2012, 7, 23), '542393', 20, Decimal('2464.80'), 'Cash', 16, 184, 0),
 (17, datetime.date(2012, 7, 24), '542394', 24, Decimal('724.50'), 'Credit Card', 17, 60, 1),
 (18, datetime.date(2012, 7, 25), '542395', 7, Decimal('1176.00'), 'Cash', 18, 50, 0),
 (19, datetime.date(2012, 7, 26), '542396', 87, Decimal('364.80'), 'Debit Card', 19, 12, 1),
 (20, datetime.date(2012, 7, 29), '542397', 25, Decimal('4031.00'), 'Credit Card', 20, 135, 1),
 (21, datetime.date(2012, 7, 30), '542398', 33, Decimal('1101.20'), 'Cash', 21, 14, 0),
 (22, datetime.date(2012, 7, 31), '542399', 89, Decimal('676.00'), 'Cash', 22, 80, 0),
 (23, datetime.date(2012, 8, 1), '542400', 87, Decimal('1376.00'), 'Credit Card', 23, 55, 1),
 (24, datetime.date(2012, 8, 1), '542401', 75, Decimal('48.00'), 'Debit Card', 24, 24, 1),
 (25, datetime.date(2012, 8, 2), '542402', 65, Decimal('1456.00'), 'Cash', 25, 70, 0),
 (26, datetime.date(2012, 8, 5), '542403', 63, Decimal('2142.40'), 'Debit Card', 26, 152, 1),
 (27, datetime.date(2012, 8, 6), '542404', 85, Decimal('538.60'), 'Debit Card', 27, 27, 1),
 (28, datetime.date(2012, 8, 7), '542405', 49, Decimal('307.20'), 'Credit Card', 28, 18, 1),
 (29, datetime.date(2012, 8, 8), '542406', 80, Decimal('420.00'), 'Credit Card', 29, 25, 1),
 (30, datetime.date(2012, 8, 9), '542407', 52, Decimal('1200.80'), 'Cash', 30, 32, 0),
 (31, datetime.date(2012, 8, 12), '542408', 5, Decimal('1488.80'), 'Debit Card', 31, 64, 1),
 (32, datetime.date(2012, 8, 13), '542409', 44, Decimal('468.00'), 'Cash', 32, 15, 0),
 (33, datetime.date(2012, 8, 14), '542410', 5, Decimal('613.20'), 'Cash', 33, 62, 0),
 (34, datetime.date(2012, 8, 14), '542411', 69, Decimal('86.50'), 'Credit Card', 34, 11, 1),
 (35, datetime.date(2012, 8, 15), '542412', 69, Decimal('155.40'), 'Cash', 35, 8, 0),
 (36, datetime.date(2012, 8, 16), '542413', 46, Decimal('1414.80'), 'Debit Card', 36, 76, 1),
 (37, datetime.date(2012, 8, 19), '542414', 44, Decimal('1452.00'), 'Credit Card', 37, 61, 1),
 (38, datetime.date(2012, 8, 20), '542415', 63, Decimal('2179.20'), 'Cash', 38, 121, 0),
 (39, datetime.date(2012, 8, 21), '542416', 63, Decimal('3016.00'), 'Cash', 39, 140, 0),
 (40, datetime.date(2012, 8, 22), '542417', 67, Decimal('924.00'), 'Credit Card', 40, 75, 1),
 (41, datetime.date(2012, 8, 23), '542418', 66, Decimal('89.00'), 'Debit Card', 41, 13, 1),
 (42, datetime.date(2012, 8, 26), '542419', 11, Decimal('479.40'), 'Cash', 42, 39, 0),
 (43, datetime.date(2012, 8, 27), '542420', 15, Decimal('2169.00'), 'Debit Card', 43, 60, 1),
 (44, datetime.date(2012, 8, 27), '542421', 61, Decimal('552.80'), 'Debit Card', 44, 46, 1),
 (45, datetime.date(2012, 8, 28), '542422', 81, Decimal('1296.00'), 'Credit Card', 45, 20, 1),
 (46, datetime.date(2012, 8, 29), '542423', 80, Decimal('848.70'), 'Credit Card', 46, 33, 1),
 (47, datetime.date(2012, 8, 30), '542424', 65, Decimal('1887.60'), 'Cash', 47, 75, 0),
 (48, datetime.date(2012, 9, 2), '542425', 85, Decimal('121.60'), 'Debit Card', 48, 4, 1),
 (49, datetime.date(2012, 9, 3), '542426', 46, Decimal('1050.60'), 'Cash', 49, 57, 0),
 (50, datetime.date(2012, 9, 4), '542427', 7, Decimal('1420.00'), 'Cash', 50, 80, 0),
 (51, datetime.date(2012, 9, 5), '542428', 37, Decimal('3127.00'), 'Credit Card', 51, 125, 1),
 (52, datetime.date(2012, 9, 6), '542429', 67, Decimal('349.50'), 'Cash', 52, 35, 0),
 (53, datetime.date(2012, 9, 9), '542430', 49, Decimal('608.00'), 'Debit Card', 53, 50, 1),
 (54, datetime.date(2012, 9, 9), '542431', 86, Decimal('755.00'), 'Credit Card', 54, 30, 1),
 (55, datetime.date(2012, 9, 10), '542432', 76, Decimal('2708.80'), 'Cash', 55, 80, 0),
 (56, datetime.date(2012, 9, 11), '542433', 30, Decimal('1242.00'), 'Cash', 56, 85, 0),
 (57, datetime.date(2012, 9, 12), '542434', 80, Decimal('954.40'), 'Credit Card', 57, 42, 1),
 (58, datetime.date(2012, 9, 13), '542435', 55, Decimal('4157.00'), 'Debit Card', 58, 80, 1),
 (59, datetime.date(2012, 9, 16), '542436', 69, Decimal('498.50'), 'Cash', 59, 25, 0),
 (60, datetime.date(2012, 9, 17), '542437', 48, Decimal('424.00'), 'Debit Card', 60, 13, 1),
 (61, datetime.date(2012, 9, 18), '542438', 2, Decimal('88.80'), 'Debit Card', 61, 6, 1),
 (62, datetime.date(2012, 9, 19), '542439', 37, Decimal('1762.00'), 'Credit Card', 62, 75, 1),
 (63, datetime.date(2012, 9, 20), '542440', 77, Decimal('336.00'), 'Credit Card', 63, 15, 1),
 (64, datetime.date(2012, 9, 20), '542441', 18, Decimal('268.80'), 'Cash', 64, 13, 0),
 (65, datetime.date(2012, 9, 23), '542442', 86, Decimal('1614.80'), 'Debit Card', 65, 58, 1),
 (66, datetime.date(2012, 9, 24), '542443', 63, Decimal('182.40'), 'Cash', 66, 12, 0),
 (67, datetime.date(2012, 9, 25), '542444', 65, Decimal('2327.00'), 'Cash', 67, 95, 0),
 (68, datetime.date(2012, 9, 26), '542445', 38, Decimal('516.80'), 'Credit Card', 68, 44, 1),
 (69, datetime.date(2012, 9, 27), '542446', 65, Decimal('2835.00'), 'Cash', 69, 80, 0),
 (70, datetime.date(2012, 9, 30), '542447', 48, Decimal('288.00'), 'Debit Card', 70, 20, 1),
 (71, datetime.date(2012, 10, 1), '542448', 38, Decimal('240.40'), 'Credit Card', 71, 26, 1),
 (72, datetime.date(2012, 10, 2), '542449', 80, Decimal('1191.20'), 'Cash', 72, 52, 0),
 (73, datetime.date(2012, 10, 3), '542450', 87, Decimal('516.00'), 'Cash', 73, 30, 0),
 (74, datetime.date(2012, 10, 3), '542451', 38, Decimal('144.00'), 'Credit Card', 74, 10, 1),
 (75, datetime.date(2012, 10, 4), '542452', 58, Decimal('112.00'), 'Debit Card', 75, 20, 1),
 (76, datetime.date(2012, 10, 7), '542453', 39, Decimal('164.40'), 'Cash', 76, 13, 0),
 (77, datetime.date(2012, 10, 8), '542454', 71, Decimal('6155.90'), 'Debit Card', 77, 241, 1),
 (78, datetime.date(2012, 10, 9), '542455', 39, Decimal('1497.00'), 'Debit Card', 78, 71, 1),
 (79, datetime.date(2012, 10, 10), '542456', 8, Decimal('982.00'), 'Credit Card', 79, 90, 1),
 (80, datetime.date(2012, 10, 11), '542457', 24, Decimal('2262.50'), 'Credit Card', 80, 140, 1),
 (81, datetime.date(2012, 10, 14), '542458', 28, Decimal('1168.00'), 'Cash', 81, 59, 0),
 (82, datetime.date(2012, 10, 15), '542459', 75, Decimal('4819.40'), 'Debit Card', 82, 50, 1),
 (83, datetime.date(2012, 10, 16), '542460', 46, Decimal('1940.00'), 'Cash', 83, 75, 0),
 (84, datetime.date(2012, 10, 16), '542461', 9, Decimal('88.50'), 'Cash', 84, 15, 0),
 (85, datetime.date(2012, 10, 17), '542462', 51, Decimal('2233.60'), 'Credit Card', 85, 66, 1),
 (86, datetime.date(2012, 10, 18), '542463', 87, Decimal('954.00'), 'Cash', 86, 60, 0),
 (87, datetime.date(2012, 10, 21), '542464', 84, Decimal('144.80'), 'Debit Card', 87, 18, 1),
 (88, datetime.date(2012, 10, 22), '542465', 37, Decimal('2545.20'), 'Credit Card', 88, 86, 1),
 (89, datetime.date(2012, 10, 23), '542466', 60, Decimal('316.80'), 'Cash', 89, 18, 0),
 (90, datetime.date(2012, 10, 24), '542467', 25, Decimal('2467.00'), 'Cash', 90, 137, 0),
 (91, datetime.date(2012, 10, 25), '542468', 55, Decimal('934.50'), 'Credit Card', 91, 35, 1),
 (92, datetime.date(2012, 10, 28), '542469', 51, Decimal('3463.20'), 'Debit Card', 92, 108, 1),
 (93, datetime.date(2012, 10, 29), '542470', 9, Decimal('2564.40'), 'Cash', 93, 72, 0),
 (94, datetime.date(2012, 10, 29), '542471', 73, Decimal('412.00'), 'Debit Card', 94, 17, 1),
 (95, datetime.date(2012, 10, 30), '542472', 25, Decimal('2300.80'), 'Debit Card', 95, 160, 1),
 (96, datetime.date(2012, 10, 31), '542473', 44, Decimal('1586.00'), 'Credit Card', 96, 69, 1),
 (97, datetime.date(2012, 11, 1), '542474', 89, Decimal('2856.00'), 'Credit Card', 97, 105, 1),
 (98, datetime.date(2012, 11, 4), '542475', 63, Decimal('2924.80'), 'Cash', 98, 159, 0),
 (99, datetime.date(2012, 11, 5), '542476', 65, Decimal('1731.20'), 'Debit Card', 99, 56, 1),
 (100, datetime.date(2012, 11, 6), '542477', 21, Decimal('928.00'), 'Cash', 100, 70, 0),
 (101, datetime.date(2012, 11, 7), '542478', 86, Decimal('396.00'), 'Cash', 101, 40, 0),
 (102, datetime.date(2012, 11, 8), '542479', 75, Decimal('141.60'), 'Credit Card', 102, 24, 1),
 (103, datetime.date(2012, 11, 11), '542480', 41, Decimal('713.40'), 'Cash', 103, 33, 0),
 (104, datetime.date(2012, 11, 11), '542481', 20, Decimal('5677.60'), 'Debit Card', 104, 120, 1),
 (105, datetime.date(2012, 11, 12), '542482', 28, Decimal('154.00'), 'Credit Card', 105, 30, 1),
 (106, datetime.date(2012, 11, 13), '542483', 59, Decimal('10741.60'), 'Cash', 106, 62, 0),
 (107, datetime.date(2012, 11, 14), '542484', 58, Decimal('568.80'), 'Cash', 107, 16, 0),
 (108, datetime.date(2012, 11, 15), '542485', 4, Decimal('480.00'), 'Credit Card', 108, 50, 1),
 (109, datetime.date(2012, 11, 18), '542486', 86, Decimal('1106.40'), 'Debit Card', 109, 62, 1),
 (110, datetime.date(2012, 11, 19), '542487', 46, Decimal('1360.00'), 'Cash', 110, 54, 0),
 (111, datetime.date(2012, 11, 20), '542488', 41, Decimal('452.00'), 'Debit Card', 111, 40, 1),
 (112, datetime.date(2012, 11, 21), '542489', 72, Decimal('3654.40'), 'Debit Card', 112, 206, 1),
 (113, datetime.date(2012, 11, 22), '542490', 7, Decimal('7390.20'), 'Credit Card', 113, 138, 1),
 (114, datetime.date(2012, 11, 22), '542491', 63, Decimal('2273.60'), 'Credit Card', 114, 109, 1),
 (115, datetime.date(2012, 11, 25), '542492', 9, Decimal('1549.60'), 'Cash', 115, 94, 0),
 (116, datetime.date(2012, 11, 26), '542493', 17, Decimal('447.20'), 'Debit Card', 116, 44, 1),
 (117, datetime.date(2012, 11, 26), '542494', 19, Decimal('950.00'), 'Cash', 117, 35, 0),
 (118, datetime.date(2012, 11, 27), '542495', 3, Decimal('403.20'), 'Cash', 118, 24, 0),
 (119, datetime.date(2012, 11, 28), '542496', 29, Decimal('136.00'), 'Credit Card', 119, 10, 1),
 (120, datetime.date(2012, 11, 28), '542497', 83, Decimal('834.20'), 'Cash', 120, 76, 0),
 (121, datetime.date(2012, 11, 29), '542498', 20, Decimal('1834.20'), 'Debit Card', 121, 78, 1),
 (122, datetime.date(2012, 12, 2), '542499', 75, Decimal('2527.20'), 'Credit Card', 122, 38, 1),
 (123, datetime.date(2012, 12, 3), '542500', 14, Decimal('1174.00'), 'Cash', 123, 65, 0),
 (124, datetime.date(2012, 12, 3), '542501', 41, Decimal('91.20'), 'Cash', 124, 6, 0),
 (125, datetime.date(2012, 12, 4), '542502', 62, Decimal('12281.20'), 'Credit Card', 125, 164, 1),
 (126, datetime.date(2012, 12, 5), '542503', 37, Decimal('1708.00'), 'Debit Card', 126, 130, 1),
 (127, datetime.date(2012, 12, 5), '542504', 91, Decimal('459.00'), 'Cash', 127, 45, 0),
 (128, datetime.date(2012, 12, 6), '542505', 36, Decimal('338.00'), 'Debit Card', 128, 25, 1),
 (129, datetime.date(2012, 12, 9), '542506', 51, Decimal('420.00'), 'Debit Card', 129, 42, 1),
 (130, datetime.date(2012, 12, 9), '542507', 72, Decimal('1016.00'), 'Credit Card', 130, 40, 1),
 (131, datetime.date(2012, 12, 10), '542508', 24, Decimal('103.20'), 'Credit Card', 131, 6, 1),
 (132, datetime.date(2012, 12, 11), '542509', 61, Decimal('959.20'), 'Cash', 132, 44, 0),
 (133, datetime.date(2012, 12, 12), '542510', 37, Decimal('1419.80'), 'Debit Card', 133, 74, 1),
 (134, datetime.date(2012, 12, 12), '542511', 46, Decimal('112.00'), 'Cash', 134, 14, 0),
 (135, datetime.date(2012, 12, 13), '542512', 20, Decimal('2900.00'), 'Cash', 135, 165, 0),
 (136, datetime.date(2012, 12, 16), '542513', 4, Decimal('899.00'), 'Credit Card', 136, 55, 1),
 (137, datetime.date(2012, 12, 16), '542514', 5, Decimal('2222.40'), 'Cash', 137, 43, 0),
 (138, datetime.date(2012, 12, 17), '542515', 75, Decimal('864.00'), 'Debit Card', 138, 38, 1),
 (139, datetime.date(2012, 12, 18), '542516', 21, Decimal('166.00'), 'Credit Card', 139, 25, 1),
 (140, datetime.date(2012, 12, 18), '542517', 70, Decimal('1058.40'), 'Cash', 140, 48, 0),
 (141, datetime.date(2012, 12, 19), '542518', 72, Decimal('1274.00'), 'Cash', 141, 75, 0),
 (142, datetime.date(2012, 12, 20), '542519', 10, Decimal('1832.80'), 'Credit Card', 142, 81, 1),
 (143, datetime.date(2012, 12, 23), '542520', 20, Decimal('2275.20'), 'Debit Card', 143, 169, 1),
 (144, datetime.date(2012, 12, 23), '542521', 17, Decimal('86.40'), 'Cash', 144, 18, 0),
 (145, datetime.date(2012, 12, 24), '542522', 59, Decimal('1440.00'), 'Debit Card', 145, 50, 1),
 (146, datetime.date(2012, 12, 25), '542523', 71, Decimal('3302.60'), 'Debit Card', 146, 176, 1),
 (147, datetime.date(2012, 12, 25), '542524', 36, Decimal('442.00'), 'Credit Card', 147, 20, 1),
 (148, datetime.date(2012, 12, 26), '542525', 35, Decimal('2333.20'), 'Credit Card', 148, 106, 1),
 (149, datetime.date(2012, 12, 27), '542526', 25, Decimal('1903.80'), 'Cash', 149, 121, 0),
 (150, datetime.date(2012, 12, 27), '542527', 60, Decimal('843.20'), 'Debit Card', 150, 28, 1),
 (151, datetime.date(2012, 12, 30), '542528', 71, Decimal('2736.00'), 'Cash', 151, 150, 0),
 (152, datetime.date(2012, 12, 31), '542529', 83, Decimal('1765.60'), 'Cash', 152, 139, 0),
 (153, datetime.date(2013, 1, 1), '542530', 19, Decimal('3063.00'), 'Credit Card', 153, 86, 1),
 (154, datetime.date(2013, 1, 1), '542531', 65, Decimal('3868.60'), 'Cash', 154, 168, 0),
 (155, datetime.date(2013, 1, 2), '542532', 20, Decimal('2713.50'), 'Debit Card', 155, 125, 1),
 (156, datetime.date(2013, 1, 3), '542533', 20, Decimal('1005.90'), 'Credit Card', 156, 91, 1),
 (157, datetime.date(2013, 1, 3), '542534', 49, Decimal('1675.00'), 'Cash', 157, 100, 0),
 (158, datetime.date(2013, 1, 6), '542535', 47, Decimal('400.00'), 'Cash', 158, 50, 0),
 (159, datetime.date(2013, 1, 7), '542536', 62, Decimal('2018.20'), 'Credit Card', 159, 89, 1),
 (160, datetime.date(2013, 1, 7), '542537', 56, Decimal('1194.00'), 'Debit Card', 160, 60, 1),
 (161, datetime.date(2013, 1, 8), '542538', 23, Decimal('1622.40'), 'Cash', 161, 51, 0),
 (162, datetime.date(2013, 1, 9), '542539', 54, Decimal('319.20'), 'Debit Card', 162, 24, 1),
 (163, datetime.date(2013, 1, 10), '542540', 10, Decimal('802.00'), 'Debit Card', 163, 65, 1),
 (164, datetime.date(2013, 1, 10), '542541', 10, Decimal('1208.50'), 'Credit Card', 164, 74, 1),
 (165, datetime.date(2013, 1, 13), '542542', 87, Decimal('372.00'), 'Credit Card', 165, 20, 1),
 (166, datetime.date(2013, 1, 14), '542543', 41, Decimal('2123.20'), 'Cash', 166, 78, 0),
 (167, datetime.date(2013, 1, 14), '542544', 21, Decimal('231.40'), 'Debit Card', 167, 68, 1),
 (168, datetime.date(2013, 1, 15), '542545', 36, Decimal('102.40'), 'Cash', 168, 22, 0),
 (169, datetime.date(2013, 1, 16), '542546', 87, Decimal('720.00'), 'Cash', 169, 50, 0),
 (170, datetime.date(2013, 1, 16), '542547', 73, Decimal('11283.20'), 'Credit Card', 170, 123, 1),
 (171, datetime.date(2013, 1, 17), '542548', 63, Decimal('1814.80'), 'Cash', 171, 146, 0),
 (172, datetime.date(2013, 1, 20), '542549', 68, Decimal('2208.00'), 'Debit Card', 172, 80, 1),
 (173, datetime.date(2013, 1, 21), '542550', 88, Decimal('1897.60'), 'Credit Card', 173, 50, 1),
 (174, datetime.date(2013, 1, 21), '542551', 61, Decimal('1273.20'), 'Cash', 174, 59, 0),
 (175, datetime.date(2013, 1, 22), '542552', 27, Decimal('49.80'), 'Cash', 175, 2, 0),
 (176, datetime.date(2013, 1, 23), '542553', 31, Decimal('1020.00'), 'Credit Card', 176, 34, 1),
 (177, datetime.date(2013, 1, 23), '542554', 51, Decimal('11493.20'), 'Debit Card', 177, 139, 1),
 (178, datetime.date(2013, 1, 24), '542555', 41, Decimal('480.00'), 'Cash', 178, 30, 0),
 (179, datetime.date(2013, 1, 27), '542556', 29, Decimal('338.20'), 'Debit Card', 179, 12, 1),
 (180, datetime.date(2013, 1, 27), '542557', 59, Decimal('651.00'), 'Debit Card', 180, 35, 1),
 (181, datetime.date(2013, 1, 28), '542558', 66, Decimal('192.00'), 'Credit Card', 181, 20, 1),
 (182, datetime.date(2013, 1, 29), '542559', 37, Decimal('1748.50'), 'Credit Card', 182, 75, 1),
 (183, datetime.date(2013, 1, 30), '542560', 20, Decimal('5796.00'), 'Cash', 183, 195, 0),
 (184, datetime.date(2013, 1, 30), '542561', 10, Decimal('2523.00'), 'Debit Card', 184, 130, 1),
 (185, datetime.date(2013, 1, 31), '542562', 75, Decimal('485.00'), 'Cash', 185, 50, 0),
 (186, datetime.date(2013, 2, 3), '542563', 60, Decimal('851.20'), 'Cash', 186, 28, 0),
 (187, datetime.date(2013, 2, 3), '542564', 24, Decimal('360.00'), 'Credit Card', 187, 24, 1),
 (188, datetime.date(2013, 2, 4), '542565', 16, Decimal('631.60'), 'Cash', 188, 32, 0),
 (189, datetime.date(2013, 2, 5), '542566', 7, Decimal('2210.80'), 'Debit Card', 189, 99, 1),
 (190, datetime.date(2013, 2, 5), '542567', 87, Decimal('393.00'), 'Credit Card', 190, 15, 1),
 (191, datetime.date(2013, 2, 6), '542568', 79, Decimal('567.50'), 'Cash', 191, 50, 0),
 (192, datetime.date(2013, 2, 7), '542569', 51, Decimal('1078.00'), 'Cash', 192, 67, 0),
 (193, datetime.date(2013, 2, 10), '542570', 71, Decimal('5793.10'), 'Credit Card', 193, 208, 1),
 (194, datetime.date(2013, 2, 10), '542571', 55, Decimal('1755.00'), 'Debit Card', 194, 50, 1),
 (195, datetime.date(2013, 2, 11), '542572', 20, Decimal('1792.00'), 'Cash', 195, 170, 0),
 (196, datetime.date(2013, 2, 12), '542573', 66, Decimal('537.60'), 'Debit Card', 196, 18, 1),
 (197, datetime.date(2013, 2, 12), '542574', 5, Decimal('1031.70'), 'Debit Card', 197, 63, 1),
 (198, datetime.date(2013, 2, 13), '542575', 5, Decimal('174.90'), 'Credit Card', 198, 21, 1),
 (199, datetime.date(2013, 2, 14), '542576', 79, Decimal('273.60'), 'Credit Card', 199, 50, 1),
 (200, datetime.date(2013, 2, 14), '542577', 67, Decimal('914.40'), 'Cash', 200, 77, 0),
 (201, datetime.date(2013, 2, 17), '542578', 64, Decimal('443.40'), 'Debit Card', 201, 26, 1),
 (202, datetime.date(2013, 2, 18), '542579', 7, Decimal('1838.20'), 'Cash', 202, 69, 0),
 (203, datetime.date(2013, 2, 19), '542580', 84, Decimal('531.40'), 'Cash', 203, 26, 0),
 (204, datetime.date(2013, 2, 19), '542581', 63, Decimal('4277.40'), 'Credit Card', 204, 238, 1),
 (205, datetime.date(2013, 2, 20), '542582', 71, Decimal('2096.00'), 'Cash', 205, 115, 0),
 (206, datetime.date(2013, 2, 21), '542583', 4, Decimal('453.00'), 'Debit Card', 206, 40, 1),
 (207, datetime.date(2013, 2, 21), '542584', 41, Decimal('414.00'), 'Credit Card', 207, 50, 1),
 (208, datetime.date(2013, 2, 24), '542585', 87, Decimal('2684.00'), 'Cash', 208, 125, 0),
 (209, datetime.date(2013, 2, 25), '542586', 39, Decimal('656.00'), 'Cash', 209, 61, 0),
 (210, datetime.date(2013, 2, 25), '542587', 39, Decimal('1584.00'), 'Credit Card', 210, 36, 1),
 (211, datetime.date(2013, 2, 26), '542588', 76, Decimal('3891.00'), 'Debit Card', 211, 145, 1),
 (212, datetime.date(2013, 2, 27), '542589', 84, Decimal('1688.00'), 'Cash', 212, 76, 0),
 (213, datetime.date(2013, 2, 28), '542590', 24, Decimal('234.80'), 'Debit Card', 213, 25, 1),
 (214, datetime.date(2013, 2, 28), '542591', 46, Decimal('2051.60'), 'Debit Card', 214, 128, 1),
 (215, datetime.date(2013, 3, 3), '542592', 16, Decimal('156.00'), 'Credit Card', 215, 22, 1),

In [14]:
%%sql
select customerid, min(orderdate) as first_trx, (days('2021-07-23')-days(min(orderdate))) as LOS, sum(totalamount) as total_trx, sum(total_qty) as total_qty_, case when sum(payment_type) > 0 then 0 else 1 end as payment_type_
from (select *, case when paymenttype = 'Cash' then 0 else 1 end as payment_type
from order_transaction X
left join (select orderid, sum(quantity) as total_qty from ORDERITEM group by orderid) Y
on X.id = Y.orderid)
group by customerid

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, datetime.date(2013, 8, 25), 2889, Decimal('4596.20'), 174, 0),
 (2, datetime.date(2012, 9, 18), 3230, Decimal('1402.95'), 63, 0),
 (3, datetime.date(2012, 11, 27), 3160, Decimal('7515.35'), 359, 0),
 (4, datetime.date(2012, 11, 15), 3172, Decimal('13806.50'), 650, 0),
 (5, datetime.date(2012, 8, 12), 3267, Decimal('26968.15'), 1001, 0),
 (6, datetime.date(2013, 4, 9), 3027, Decimal('3239.80'), 140, 0),
 (7, datetime.date(2012, 7, 25), 3285, Decimal('19088.00'), 666, 0),
 (8, datetime.date(2012, 10, 10), 3208, Decimal('5297.80'), 190, 0),
 (9, datetime.date(2012, 10, 16), 3202, Decimal('23850.95'), 980, 0),
 (10, datetime.date(2012, 12, 20), 3137, Decimal('22607.70'), 956, 0),
 (11, datetime.date(2012, 8, 26), 3253, Decimal('6089.90'), 293, 0),
 (12, datetime.date(2013, 4, 29), 3007, Decimal('1814.80'), 115, 0),
 (13, datetime.date(2012, 7, 18), 3292, Decimal('100.80'), 11, 0),
 (14, datetime.date(2012, 7, 11), 3299, Decimal('12886.30'), 465, 0),
 (15, datetime.date(2012, 8, 27), 3252, Decimal('3810.75'), 133, 0),
 (16, datetime.date(2013, 2, 4), 3091, Decimal('1719.10'), 87, 0),
 (17, datetime.date(2012, 11, 26), 3161, Decimal('3763.21'), 160, 0),
 (18, datetime.date(2012, 9, 20), 3228, Decimal('1615.90'), 80, 0),
 (19, datetime.date(2012, 11, 26), 3161, Decimal('15033.66'), 569, 0),
 (20, datetime.date(2012, 7, 17), 3293, Decimal('113236.68'), 4543, 0),
 (21, datetime.date(2012, 11, 6), 3181, Decimal('4438.90'), 357, 0),
 (23, datetime.date(2013, 1, 8), 3118, Decimal('11666.90'), 354, 0),
 (24, datetime.date(2012, 7, 24), 3286, Decimal('32555.55'), 1234, 0),
 (25, datetime.date(2012, 7, 29), 3281, Decimal('28722.71'), 1525, 0),
 (26, datetime.date(2013, 9, 17), 2866, Decimal('3172.16'), 69, 0),
 (27, datetime.date(2013, 1, 22), 3104, Decimal('1545.70'), 54, 0),
 (28, datetime.date(2012, 10, 14), 3204, Decimal('7151.55'), 349, 0),
 (29, datetime.date(2012, 11, 28), 3159, Decimal('836.70'), 42, 0),
 (30, datetime.date(2012, 9, 11), 3237, Decimal('11830.10'), 395, 0),
 (31, datetime.date(2013, 1, 23), 3103, Decimal('8702.23'), 315, 0),
 (32, datetime.date(2013, 5, 6), 3000, Decimal('19711.13'), 345, 0),
 (33, datetime.date(2012, 7, 30), 3280, Decimal('1488.70'), 34, 0),
 (34, datetime.date(2012, 7, 8), 3302, Decimal('34101.15'), 839, 0),
 (35, datetime.date(2012, 7, 16), 3294, Decimal('23611.58'), 1096, 0),
 (36, datetime.date(2012, 12, 6), 3151, Decimal('3063.20'), 122, 0),
 (37, datetime.date(2012, 9, 5), 3243, Decimal('57317.39'), 1684, 0),
 (38, datetime.date(2012, 9, 26), 3222, Decimal('6146.30'), 295, 0),
 (39, datetime.date(2012, 10, 7), 3211, Decimal('31745.75'), 903, 0),
 (40, datetime.date(2014, 1, 29), 2732, Decimal('1992.05'), 83, 0),
 (41, datetime.date(2012, 11, 11), 3176, Decimal('10272.35'), 442, 0),
 (42, datetime.date(2013, 4, 3), 3033, Decimal('522.50'), 62, 0),
 (43, datetime.date(2013, 3, 21), 3046, Decimal('357.00'), 20, 0),
 (44, datetime.date(2012, 8, 13), 3266, Decimal('21282.02'), 794, 0),
 (45, datetime.date(2013, 6, 25), 2950, Decimal('3490.02'), 181, 0),
 (46, datetime.date(2012, 8, 16), 3263, Decimal('17825.06'), 836, 0),
 (47, datetime.date(2013, 1, 6), 3120, Decimal('17889.55'), 970, 0),
 (48, datetime.date(2012, 9, 17), 3231, Decimal('4258.60'), 134, 0),
 (49, datetime.date(2012, 8, 7), 3272, Decimal('7603.85'), 433, 0),
 (50, datetime.date(2013, 5, 7), 2999, Decimal('10430.58'), 320, 0),
 (51, datetime.date(2012, 10, 17), 3201, Decimal('32203.90'), 966, 0),
 (52, datetime.date(2012, 8, 9), 3270, Decimal('5042.20'), 172, 0),
 (53, datetime.date(2013, 4, 24), 3012, Decimal('649.00'), 30, 0),
 (54, datetime.date(2013, 1, 9), 3117, Decimal('3460.20'), 132, 0),
 (55, datetime.date(2012, 9, 13), 3235, Decimal('16325.15'), 603, 0),
 (56, datetime.date(2012, 7, 19), 3291, Decimal('13157.50'), 639, 0),
 (58, datetime.date(2012, 10, 4), 3214, Decimal('4242.20'), 208, 0),
 (59, datetime.date(2012, 11, 13), 3174, Decimal('26259.95'), 624, 0),
 (60, datetime.date(2012, 10, 23), 3195, Decimal('5317.10'), 184, 0),
 (61, datetime.date(2012, 7, 19), 3291, Decimal('6973.63'), 394, 0),
 (62, datetime.date(2012, 12, 4), 3153, Decimal('30226.10'), 1031, 0),
 (63, datetime.date(2012, 8, 5), 3274, Decimal('117483.39'), 3961, 0),
 (64, datetime.date(2013, 2, 17), 3078, Decimal('2844.10'), 92, 0),
 (65, datetime.date(2012, 7, 22), 3288, Decimal('52245.90'), 1383, 0),
 (66, datetime.date(2012, 8, 23), 3256, Decimal('7555.60'), 335, 0),
 (67, datetime.date(2012, 8, 22), 3257, Decimal('12924.40'), 660, 0),
 (68, datetime.date(2012, 7, 12), 3298, Decimal('20033.20'), 810, 0),
 (69, datetime.date(2012, 8, 14), 3265, Decimal('1467.29'), 91, 0),
 (70, datetime.date(2012, 12, 18), 3139, Decimal('5735.15'), 161, 0),
 (71, datetime.date(2012, 10, 8), 3210, Decimal('115673.39'), 4958, 0),
 (72, datetime.date(2012, 11, 21), 3166, Decimal('17172.05'), 818, 0),
 (73, datetime.date(2012, 10, 29), 3189, Decimal('18138.45'), 378, 0),
 (74, datetime.date(2013, 11, 12), 2810, Decimal('2423.35'), 48, 0),
 (75, datetime.date(2012, 8, 1), 3278, Decimal('12489.70'), 327, 0),
 (76, datetime.date(2012, 7, 9), 3301, Decimal('24704.40'), 1072, 0),
 (77, datetime.date(2012, 9, 20), 3228, Decimal('3361.00'), 46, 0),
 (78, datetime.date(2013, 8, 7), 2907, Decimal('1947.24'), 59, 0),
 (79, datetime.date(2012, 7, 5), 3305, Decimal('4954.00'), 253, 0),
 (80, datetime.date(2012, 8, 8), 3271, Decimal('10812.15'), 384, 0),
 (81, datetime.date(2012, 8, 28), 3251, Decimal('7310.62'), 251, 0),
 (82, datetime.date(2013, 6, 19), 2956, Decimal('1571.20'), 89, 0),
 (83, datetime.date(2012, 11, 28), 3159, Decimal('16643.80'), 792, 0),
 (84, datetime.date(2012, 7, 8), 3302, Decimal('9937.10'), 434, 0),
 (85, datetime.date(2012, 7, 4), 3306, Decimal('1480.00'), 98, 0),
 (86, datetime.date(2012, 9, 9), 3239, Decimal('10653.85'), 492, 0),
 (87, datetime.date(2012, 7, 26), 3284, Decimal('16617.10'), 737, 0),
 (88, datetime.date(2012, 7, 15), 3295, Decimal('6480.70'), 267, 0),
 (89, datetime.date(2012, 7, 31), 3279, Decimal('29073.45'), 1063, 0),
 (90, datetime.date(2013, 7, 30), 2915, Decimal('3161.35'), 148, 0),
 (91, datetime.date(2012, 12, 5), 3152, Decimal('3531.95'), 205, 0)]

In [15]:
%%sql
select id
,case when lastname IS NOT NULL then firstname ||' '||lastname else firstname end as fullname
,country
,case when phone IS NOT NULL then 1 else 0 end as check_phone
,COALESCE(age,25) as age_fill
from CUSTOMER

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, 'Maria Anders', 'Germany', 1, 31),
 (2, 'UvuvwevwevweOnyetenvewveUgwemubwemOssas Trujillo', 'Mexico', 1, 26),
 (3, 'Antonio Moreno', 'Mexico', 1, 28),
 (4, 'Thomas Hardy', 'UK', 1, 30),
 (5, 'Christina Berglund', 'Sweden', 1, 25),
 (6, 'Hanna Moos', 'Germany', 1, 35),
 (7, 'Frédérique Citeaux', 'France', 1, 31),
 (8, 'Martín Sommer', 'Spain', 1, 28),
 (9, 'Laurence Lebihan', 'France', 0, 18),
 (10, 'Elizabeth Lincoln', 'Canada', 1, 26),
 (11, 'Victoria Ashworth', 'UK', 1, 28),
 (12, 'Patricio Simpson', 'Argentina', 1, 23),
 (13, 'Francisco', 'Mexico', 0, 18),
 (14, 'Yang Wang', 'Switzerland', 1, 23),
 (15, 'Pedro Afonso', 'Brazil', 1, 25),
 (16, 'Elizabeth Brown', 'UK', 1, 28),
 (17, 'Sven Ottlieb', 'Germany', 1, 37),
 (18, 'Janine Labrune', 'France', 1, 25),
 (19, 'Ann Devon', 'UK', 0, 18),
 (20, 'Roland Mendel', 'Austria', 1, 23),
 (21, 'Aria Cruz', 'Brazil', 1, 22),
 (22, 'Diego Roel', 'Spain', 1, 17),
 (23, 'Martine Rancé', 'France', 1, 37),
 (24, 'Maria Larsson', 'Sweden', 1, 31),
 (25, 'Peter Franken', 'Germany', 1, 25),
 (26, 'Carine Schmitt', 'France', 1, 31),
 (27, 'Paolo Accorti', 'Italy', 1, 35),
 (28, 'Lino Rodriguez', 'Portugal', 1, 17),
 (29, 'Eduardo Saavedra', 'Spain', 0, 18),
 (30, 'José Pedro Freyre', 'Spain', 1, 28),
 (31, 'André Fonseca', 'Brazil', 1, 28),
 (32, 'Howard Snyder', 'USA', 1, 23),
 (33, 'Manuel Pereira', 'Venezuela', 1, 31),
 (34, 'Mario Pontes', 'Brazil', 1, 31),
 (35, 'Carlos Hernández', 'Venezuela', 1, 35),
 (36, 'Yoshi Latimer', 'USA', 1, 17),
 (37, 'Patricia McKenna', 'Ireland', 1, 28),
 (38, 'Helen Bennett', 'UK', 1, 25),
 (39, 'Philip Cramer', 'Germany', 1, 37),
 (40, 'Daniel Tonini', 'France', 1, 35),
 (41, 'Annette Roulet', 'France', 0, 18),
 (42, 'Yoshi Tannamuri', 'Canada', 1, 28),
 (43, 'John Steel', 'USA', 1, 26),
 (44, 'Renate Messner', 'Germany', 1, 17),
 (45, 'Jaime Yorres', 'USA', 1, 30),
 (46, 'Carlos González', 'Venezuela', 1, 17),
 (47, 'Felipe Izquierdo', 'Venezuela', 1, 28),
 (48, 'Fran Wilson', 'USA', 1, 37),
 (49, 'Giovanni Rovelli', 'Italy', 1, 35),
 (50, 'Catherine Dewey', 'Belgium', 1, 22),
 (51, 'Jean Fresnière', 'Canada', 1, 17),
 (52, 'Bambang', 'Germany', 1, 37),
 (53, 'Bamasta Crowther', 'UK', 1, 37),
 (54, 'Yvonne Moncada', 'Argentina', 1, 25),
 (55, 'Rene Phillips', 'USA', 1, 17),
 (56, 'Henriette Pfalzheim', 'Germany', 1, 22),
 (57, 'Marie Bertrand', 'France', 0, 18),
 (58, 'Guillermo Fernández', 'Mexico', 1, 23),
 (59, 'Georg Pipps', 'Austria', 1, 28),
 (60, 'Isabel de Castro', 'Portugal', 1, 17),
 (61, 'Bernardo Batista', 'Brazil', 1, 28),
 (62, 'Lúcia Carvalho', 'Brazil', 1, 26),
 (63, 'Horst Kloss', 'Germany', 1, 30),
 (64, 'Sergio Gutiérrez', 'Argentina', 1, 23),
 (65, 'Paula Wilson', 'USA', 1, 26),
 (66, 'Maurizio Moroni', 'Italy', 1, 25),
 (67, 'Janete Limeira', 'Brazil', 1, 28),
 (68, 'Michael Holz', 'Switzerland', 1, 17),
 (69, 'Alejandra Camino', 'Spain', 1, 35),
 (70, 'Jonas Bergulfsen', 'Norway', 1, 23),
 (71, 'Jose Pavarotti', 'USA', 1, 25),
 (72, 'Bamsoet Kumar', 'UK', 1, 22),
 (73, 'Jytte Petersen', 'Denmark', 1, 37),
 (74, 'Dominique Perrier', 'France', 0, 18),
 (75, 'Art Braunschweiger', 'USA', 1, 35),
 (76, 'Suratmi', 'Belgium', 1, 35),
 (77, 'Liz Nixon', 'USA', 1, 28),
 (78, 'Liu Wong', 'USA', 1, 17),
 (79, 'Karin Josephs', 'Germany', 1, 26),
 (80, 'Miguel Angel Paolino', 'Mexico', 0, 18),
 (81, 'Anabela Domingues', 'Brazil', 1, 22),
 (82, 'Helvetius Nagy', 'USA', 1, 22),
 (83, 'Palle Ibsen', 'Denmark', 1, 37),
 (84, 'Mary Saveley', 'France', 1, 37),
 (85, 'Paul Henriot', 'France', 1, 35),
 (86, 'Rita Müller', 'Germany', 1, 31),
 (87, 'Bela Koskitalo', 'Finland', 1, 23),
 (88, 'Paula Parente', 'Brazil', 1, 28),
 (89, 'Karl Jablonski', 'USA', 1, 28),
 (90, 'Matti Karttunen', 'Finland', 1, 30),
 (91, 'Zbyszek Piestrzeniewicz', 'Poland', 1, 28)]

In [16]:
%%sql select A.id,case when A.lastname IS NOT NULL then A.firstname ||' '||A.lastname else A.firstname end as name,A.country,case when A.phone IS NOT NULL then 1 else 0 end as flag_phone,COALESCE(A.age,25) as age, COALESCE(B.los,0) as los, COALESCE(B.total_qty_,0) as totalproduct,COALESCE(B.total_trx,0) as totalamount,COALESCE(B.payment_type_,1) as paymenttype 
from CUSTOMER A 
left join (select customerid, min(orderdate) as first_trx, (days('2021-07-23')-days(min(orderdate))) as LOS, sum(totalamount) as total_trx, sum(total_qty) as total_qty_, case when sum(payment_type) > 0 then 0 else 1 end as payment_type_ 
from (select *, case when paymenttype = 'Cash' then 0 else 1 end as payment_type 
from order_transaction X 
left join (select orderid, sum(quantity) as total_qty from ORDERITEM group by orderid) Y 
on X.id = Y.orderid) 
group by customerid) B  
on A.id = B.customerid;

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(1, 'Maria Anders', 'Germany', 1, 31, 2889, 174, Decimal('4596.20'), 0),
 (2, 'UvuvwevwevweOnyetenvewveUgwemubwemOssas Trujillo', 'Mexico', 1, 26, 3230, 63, Decimal('1402.95'), 0),
 (3, 'Antonio Moreno', 'Mexico', 1, 28, 3160, 359, Decimal('7515.35'), 0),
 (4, 'Thomas Hardy', 'UK', 1, 30, 3172, 650, Decimal('13806.50'), 0),
 (5, 'Christina Berglund', 'Sweden', 1, 25, 3267, 1001, Decimal('26968.15'), 0),
 (6, 'Hanna Moos', 'Germany', 1, 35, 3027, 140, Decimal('3239.80'), 0),
 (7, 'Frédérique Citeaux', 'France', 1, 31, 3285, 666, Decimal('19088.00'), 0),
 (8, 'Martín Sommer', 'Spain', 1, 28, 3208, 190, Decimal('5297.80'), 0),
 (9, 'Laurence Lebihan', 'France', 0, 18, 3202, 980, Decimal('23850.95'), 0),
 (10, 'Elizabeth Lincoln', 'Canada', 1, 26, 3137, 956, Decimal('22607.70'), 0),
 (11, 'Victoria Ashworth', 'UK', 1, 28, 3253, 293, Decimal('6089.90'), 0),
 (12, 'Patricio Simpson', 'Argentina', 1, 23, 3007, 115, Decimal('1814.80'), 0),
 (13, 'Francisco', 'Mexico', 0, 18, 3292, 11, Decimal('100.80'), 0),
 (14, 'Yang Wang', 'Switzerland', 1, 23, 3299, 465, Decimal('12886.30'), 0),
 (15, 'Pedro Afonso', 'Brazil', 1, 25, 3252, 133, Decimal('3810.75'), 0),
 (16, 'Elizabeth Brown', 'UK', 1, 28, 3091, 87, Decimal('1719.10'), 0),
 (17, 'Sven Ottlieb', 'Germany', 1, 37, 3161, 160, Decimal('3763.21'), 0),
 (18, 'Janine Labrune', 'France', 1, 25, 3228, 80, Decimal('1615.90'), 0),
 (19, 'Ann Devon', 'UK', 0, 18, 3161, 569, Decimal('15033.66'), 0),
 (20, 'Roland Mendel', 'Austria', 1, 23, 3293, 4543, Decimal('113236.68'), 0),
 (21, 'Aria Cruz', 'Brazil', 1, 22, 3181, 357, Decimal('4438.90'), 0),
 (23, 'Martine Rancé', 'France', 1, 37, 3118, 354, Decimal('11666.90'), 0),
 (24, 'Maria Larsson', 'Sweden', 1, 31, 3286, 1234, Decimal('32555.55'), 0),
 (25, 'Peter Franken', 'Germany', 1, 25, 3281, 1525, Decimal('28722.71'), 0),
 (26, 'Carine Schmitt', 'France', 1, 31, 2866, 69, Decimal('3172.16'), 0),
 (27, 'Paolo Accorti', 'Italy', 1, 35, 3104, 54, Decimal('1545.70'), 0),
 (28, 'Lino Rodriguez', 'Portugal', 1, 17, 3204, 349, Decimal('7151.55'), 0),
 (29, 'Eduardo Saavedra', 'Spain', 0, 18, 3159, 42, Decimal('836.70'), 0),
 (30, 'José Pedro Freyre', 'Spain', 1, 28, 3237, 395, Decimal('11830.10'), 0),
 (31, 'André Fonseca', 'Brazil', 1, 28, 3103, 315, Decimal('8702.23'), 0),
 (32, 'Howard Snyder', 'USA', 1, 23, 3000, 345, Decimal('19711.13'), 0),
 (33, 'Manuel Pereira', 'Venezuela', 1, 31, 3280, 34, Decimal('1488.70'), 0),
 (34, 'Mario Pontes', 'Brazil', 1, 31, 3302, 839, Decimal('34101.15'), 0),
 (35, 'Carlos Hernández', 'Venezuela', 1, 35, 3294, 1096, Decimal('23611.58'), 0),
 (36, 'Yoshi Latimer', 'USA', 1, 17, 3151, 122, Decimal('3063.20'), 0),
 (37, 'Patricia McKenna', 'Ireland', 1, 28, 3243, 1684, Decimal('57317.39'), 0),
 (38, 'Helen Bennett', 'UK', 1, 25, 3222, 295, Decimal('6146.30'), 0),
 (39, 'Philip Cramer', 'Germany', 1, 37, 3211, 903, Decimal('31745.75'), 0),
 (40, 'Daniel Tonini', 'France', 1, 35, 2732, 83, Decimal('1992.05'), 0),
 (41, 'Annette Roulet', 'France', 0, 18, 3176, 442, Decimal('10272.35'), 0),
 (42, 'Yoshi Tannamuri', 'Canada', 1, 28, 3033, 62, Decimal('522.50'), 0),
 (43, 'John Steel', 'USA', 1, 26, 3046, 20, Decimal('357.00'), 0),
 (44, 'Renate Messner', 'Germany', 1, 17, 3266, 794, Decimal('21282.02'), 0),
 (45, 'Jaime Yorres', 'USA', 1, 30, 2950, 181, Decimal('3490.02'), 0),
 (46, 'Carlos González', 'Venezuela', 1, 17, 3263, 836, Decimal('17825.06'), 0),
 (47, 'Felipe Izquierdo', 'Venezuela', 1, 28, 3120, 970, Decimal('17889.55'), 0),
 (48, 'Fran Wilson', 'USA', 1, 37, 3231, 134, Decimal('4258.60'), 0),
 (49, 'Giovanni Rovelli', 'Italy', 1, 35, 3272, 433, Decimal('7603.85'), 0),
 (50, 'Catherine Dewey', 'Belgium', 1, 22, 2999, 320, Decimal('10430.58'), 0),
 (51, 'Jean Fresnière', 'Canada', 1, 17, 3201, 966, Decimal('32203.90'), 0),
 (52, 'Bambang', 'Germany', 1, 37, 3270, 172, Decimal('5042.20'), 0),
 (53, 'Bamasta Crowther', 'UK', 1, 37, 3012, 30, Decimal('649.00'), 0),
 (54, 'Yvonne Moncada', 'Argentina', 1, 25, 3117, 132, Decimal('3460.20'), 0),
 (55, 'Rene Phillips', 'USA', 1, 17, 3235, 603, Decimal('16325.15'), 0),
 (56, 'Henriette Pfalzheim', 'Germany', 1, 22, 3291, 639, Decimal('13157.50'), 0),
 (58, 'Guillermo Fernández', 'Mexico', 1, 23, 3214, 208, Decimal('4242.20'), 0),
 (59, 'Georg Pipps', 'Austria', 1, 28, 3174, 624, Decimal('26259.95'), 0),
 (60, 'Isabel de Castro', 'Portugal', 1, 17, 3195, 184, Decimal('5317.10'), 0),
 (61, 'Bernardo Batista', 'Brazil', 1, 28, 3291, 394, Decimal('6973.63'), 0),
 (62, 'Lúcia Carvalho', 'Brazil', 1, 26, 3153, 1031, Decimal('30226.10'), 0),
 (63, 'Horst Kloss', 'Germany', 1, 30, 3274, 3961, Decimal('117483.39'), 0),
 (64, 'Sergio Gutiérrez', 'Argentina', 1, 23, 3078, 92, Decimal('2844.10'), 0),
 (65, 'Paula Wilson', 'USA', 1, 26, 3288, 1383, Decimal('52245.90'), 0),
 (66, 'Maurizio Moroni', 'Italy', 1, 25, 3256, 335, Decimal('7555.60'), 0),
 (67, 'Janete Limeira', 'Brazil', 1, 28, 3257, 660, Decimal('12924.40'), 0),
 (68, 'Michael Holz', 'Switzerland', 1, 17, 3298, 810, Decimal('20033.20'), 0),
 (69, 'Alejandra Camino', 'Spain', 1, 35, 3265, 91, Decimal('1467.29'), 0),
 (70, 'Jonas Bergulfsen', 'Norway', 1, 23, 3139, 161, Decimal('5735.15'), 0),
 (71, 'Jose Pavarotti', 'USA', 1, 25, 3210, 4958, Decimal('115673.39'), 0),
 (72, 'Bamsoet Kumar', 'UK', 1, 22, 3166, 818, Decimal('17172.05'), 0),
 (73, 'Jytte Petersen', 'Denmark', 1, 37, 3189, 378, Decimal('18138.45'), 0),
 (74, 'Dominique Perrier', 'France', 0, 18, 2810, 48, Decimal('2423.35'), 0),
 (75, 'Art Braunschweiger', 'USA', 1, 35, 3278, 327, Decimal('12489.70'), 0),
 (76, 'Suratmi', 'Belgium', 1, 35, 3301, 1072, Decimal('24704.40'), 0),
 (77, 'Liz Nixon', 'USA', 1, 28, 3228, 46, Decimal('3361.00'), 0),
 (78, 'Liu Wong', 'USA', 1, 17, 2907, 59, Decimal('1947.24'), 0),
 (79, 'Karin Josephs', 'Germany', 1, 26, 3305, 253, Decimal('4954.00'), 0),
 (80, 'Miguel Angel Paolino', 'Mexico', 0, 18, 3271, 384, Decimal('10812.15'), 0),
 (81, 'Anabela Domingues', 'Brazil', 1, 22, 3251, 251, Decimal('7310.62'), 0),
 (82, 'Helvetius Nagy', 'USA', 1, 22, 2956, 89, Decimal('1571.20'), 0),
 (83, 'Palle Ibsen', 'Denmark', 1, 37, 3159, 792, Decimal('16643.80'), 0),
 (84, 'Mary Saveley', 'France', 1, 37, 3302, 434, Decimal('9937.10'), 0),
 (85, 'Paul Henriot', 'France', 1, 35, 3306, 98, Decimal('1480.00'), 0),
 (86, 'Rita Müller', 'Germany', 1, 31, 3239, 492, Decimal('10653.85'), 0),
 (87, 'Bela Koskitalo', 'Finland', 1, 23, 3284, 737, Decimal('16617.10'), 0),
 (88, 'Paula Parente', 'Brazil', 1, 28, 3295, 267, Decimal('6480.70'), 0),
 (89, 'Karl Jablonski', 'USA', 1, 28, 3279, 1063, Decimal('29073.45'), 0),
 (90, 'Matti Karttunen', 'Finland', 1, 30, 2915, 148, Decimal('3161.35'), 0),
 (91, 'Zbyszek Piestrzeniewicz', 'Poland', 1, 28, 3152, 205, Decimal('3531.95'), 0),
 (22, 'Diego Roel', 'Spain', 1, 17, 0, 0, Decimal('0.00'), 1),
 (57, 'Marie Bertrand', 'France', 0, 18, 0, 0, Decimal('0.00'), 1)]

In [17]:
%%sql query <<
select A.id,case when A.lastname IS NOT NULL then A.firstname ||' '||A.lastname else A.firstname end as name,A.country,case when A.phone IS NOT NULL then 1 else 0 end as flag_phone,COALESCE(A.age,25) as age, COALESCE(B.los,0) as los, COALESCE(B.total_qty_,0) as totalproduct,COALESCE(B.total_trx,0) as totalamount,COALESCE(B.payment_type_,1) as paymenttype 
from CUSTOMER A 
left join (select customerid, min(orderdate) as first_trx, (days('2021-07-23')-days(min(orderdate))) as LOS, sum(totalamount) as total_trx, sum(total_qty) as total_qty_, case when sum(payment_type) > 0 then 0 else 1 end as payment_type_ 
from (select *, case when paymenttype = 'Cash' then 0 else 1 end as payment_type 
from order_transaction X 
left join (select orderid, sum(quantity) as total_qty from ORDERITEM group by orderid) Y 
on X.id = Y.orderid) 
group by customerid) B  
on A.id = B.customerid;

 * ibm_db_sa://smj32364:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.
Returning data to local variable query

In [18]:
import pandas as pd
df = query.DataFrame()

In [19]:
df.to_csv("hasil query.csv")